{% extends "layout.html" %}

{% block content %}
    <h1>About Page</h1>
    <p>Expense Tracker prototype made for the course Databases and Informationsystems 2024</p>
    
        <li>Sofie Egesby Larsen</li>
        <li>Christina Ghandforoush</li>
        <p>It is possible to log in to an existing account for the expenses tracker.</p>
        <p>The existing accounts all have the password "1234", and one of the following usernames can be used:</p>
        <li>Taylor</li>
        <li>Adam</li>
        <li>Christina</li>
        <li>Sofie</li>
    <p>After logging in the user is able to add new expenses, delete and edit existing expenses, and sort expenses based on the date.</p>
    <p> Finally the user is able to sort expenses by the date. </p>

{% endblock content %}
